.git
.github
.vscode
.claude
.agents
.idea
node_modules
vendor
public/hot
public/storage
public/build
public/fonts-manifest.dev.json
storage/*.key
storage/pail
storage/app/*
!storage/app/public
!storage/app/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
bootstrap/ssr
resources/js/actions
resources/js/routes
resources/js/wayfinder
database/*.sqlite
.env
.env.*
!.env.example
tests
docs
*.md
docker-compose*.yml
